body {
    padding: 10px;
}

/* FORMS */

.form-input {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Listing page */

.container-listing {
    border: 2px solid black;
    width: 75%;
}

.listing-description {
    border: 2px solid black;
}

.listing-comments {
    border: 1px solid black;
}

.listing-image {
    border: 1px solid black;
}

.listing-bid {
    border: 1px solid black;
}

.listing-comment-form {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.listing-comment-btn {
    width: 120px;
    background-color: rgb(51, 51, 245);
    color: white;
    border-radius: 5px;
    justify-content: flex-end;
}