body {
    padding: 10px;
    background-color: rgb(223, 255, 172)
}

/* FORMS */

.form-input {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Active listing */

#container-active-listings {
    display: flex;    
}

.container-active-listing-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    background-color:rgb(192, 192, 255);
    text-align: center;
    border-radius: 5px;
}

.active-listing-image {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    margin: auto;
    border: none;
}
/* Listing page */

.container-listing {
    border: 2px solid black;
    position: relative;
    margin: auto;
    width: 550px;
    background-color: rgb(192, 192, 255);
    border-radius: 10px;
    padding: 25px;
}

.listing-header {
    position: relative;
    text-align: left;
    display: flex;
    padding: 0px;
    margin: 0px;;
}

.watch-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(106, 106, 255);
    color: white;
    height: 30px;
    /* width: 45px; */
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
}

.listing-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(253, 104, 45);
    color: white;
    height: 30px;
    /* width: 45px; */
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
}
.listing-description {
    border: 1px solid black;
    background-color:rgb(235, 235, 255);
    padding: 5px;
}

.listing-comments {
    border: 1px solid black;
}

.listing-image {
    border: 1px solid black;
}

.listing-bid {
    display: flex;
    position: relative;
    /* border: 1px solid black; */
    border-top: None;
    margin: auto;
    margin-top: None;
    margin-bottom: 5px;
    background-color:rgb(235, 235, 255);
    text-align: center;
    padding: 5px;
}

.listing-current-bid {
    margin-top: 10px;
    margin-bottom: None;
    background-color: rgb(235, 235, 255);
    /* border: 1px solid black; */
    border-bottom: None;
    margin-bottom: None;
}

.listing-current-bidder {
    position: absolute;
    right: 10px;
    top:10px;
}

.current-bid {
    display: flex;
    position: relative;
}

.bidding-form {
    background-color:rgb(235, 235, 255);
    /* border-left: 1px solid black; */
}

.listing-bid-btn {
    position: absolute;
    right: 50px;
    top: 6px;
    border-radius: 5px;
    border:1px solid black;
    background-color: rgb(106, 106, 255);
    color: white;
}

.bid-warning {
    background-color: red;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.bid-success {
    background-color: green;
    color: white;
    margin-top:3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.auction-won {
    background-color: green;
    color:white;
    border-radius: 5px;
}
.listing-comment-form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 30px;
}

.listing-comment-btn {
    width: 120px;
    background-color: rgb(106, 106, 255);
    color: white;
    border-radius: 5px;
    justify-content: flex-end;
    border: 1px solid black;
    margin-top: 5px;
}

.listing-image {
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin: auto;
    border: none;
}

