{% extends 'auctions/layout.html' %}

{% block title %}
{% endblock %}


{% block body %}

{% if message %}

    <div class='alert' style="background-image: red">
        <h1>{{ message }}</h1>
    </div>

{% endif %}
<div class='container-listing'>
    {% if listing.seller == request.user and listing.open == True %}
        <form action="{% url 'close_listing' listing.id %}" method="post">
            {% csrf_token %}
            <input class="listing-close-btn" type="submit" value="Close Listing">
            <!-- <button class='listing-close-btn'>Close Listing</button>     -->
        </form>
    {% elif not listing.seller == request.user and listing.open == True %}

        {% if watching == True %}
            <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button class='watch-btn'>Unwatch</button>    
            </form>
        {% else %}
            <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button class='watch-btn'>Watch</button>    
            </form>
        {% endif %}
    {% endif %}
    <div class=listing-header>
        <h1 style="margin-left: 20px;">{{ listing.title }}</h1>
    </div>
    <div class='listing-image'>
        {% if listing.image %}
            <img class="listing-image" src="/media/{{ listing.image }}">
        {% else %}
            <h4>No image for listing</h4>
        {% endif %}
    </div>
    {% if listing.open == True %}
        <form class="bidding-form" action="{% url 'place_bid' listing.id %}" method="post">
            <div class='current-bid'>
                <h4 class="listing-current-bid">Current bid: ${{ bid.bid }}</h4>
                <!-- <h4 class="listing-current-bid">{{ bidder.bid }}</h4>      -->
                <p class="listing-current-bidder">Bidder: {{ bid.bidder }}</p>       
            </div>


            <div class='listing-bid'>
                {% csrf_token %}
                <input type="number" name="bid">
                <input class='listing-bid-btn' type="submit" value="Place Bid">
            </div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR  %}
                        <div class="bid-warning">{{ message }}</div>
                    {% else %}
                        <div class="bid-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO and bid.bidder == request.user %}
                    <div class="auction-won">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <div class="current-bid">
                <h4 class="listing-current-bid">Winning bid: ${{ bid.bid }}</h4>
                <p class="listing-current-bidder">Bidder: {{ bid.bidder }}</p>       
            </div>
        {% endif %}
    </form>
    <div class='listing-description'>
        <h6>{{ listing.title }}</h6>
        <p>{{ listing.description }}</p>
    </div>

    <div class="listing-comments">
        <ul>
            <h4>Comments for this listing</h4>
                <div>
                    <form class='listing-comment-form'>
                        <textarea rows="5" cols="20"></textarea>
                        <input type="submit" class='listing-comment-btn'>
                    </form>
                </div>

                {% for comment in comments %}
                    <div class="listing-comment">
                        <li>{{ comment }}</li>
                    </div>
                {% empty %}
                    <p>There are no comments yet!</p>
                {% endfor %}
                
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}


    <script>


        // if (document.readyState == 'loading') {
        //     document.addEventListener('DOMContentLoaded', ready)
        // } else {
        //     ready()
        // }
        
        // function ready() {
        //     console.log("Ready function")
        //     let bid_button = document.getElementsByClassName('listing-bid-btn')[0]
        //     // let current_bid = document.getElementsByClassName('listing-current-bid')[1]
        //     let bidd = document.getElementsByName('bid')
        //     console.log("BID:", bidd)
        //     bid_button.onclick = check_bid
        
        // }

        // function check_bid() {
        //     let bid = document.getElementsByName('bid').value
        //     let current_bid = document.getElementsByClassName('listing-current-bid')[1]
        //     console.log("Checking bid", bid)
        //     if (bid.value < current_bid) {
        //         alert("You must enter a bid that is higher than current bid.")
        //         return 0;
        //     }
        // }

    </script>
{% endblock %}